@model KeralaMiniMart.Entities.WebViewModels.ProductWrapperViewModel

<div id="indexPartialContent">
    @if (Model.TotalCount <= 0)
    {
        <div class="list-empty-state">
            @if (ViewBag.ShowEmptyState == true)
            {
                <a asp-action="add" asp-controller="product" class="btn btn-primary mr-4 add-icon"> Add New Product <img src="/images/icons/Plus.png"></a>
                <p class="mt-4 f-22 f-bold">
                    Start adding products.
                </p>
                <p class="f-gray mt-2 f-14">Click on "Add New Product" button to add product.</p>
            }
            else
            {
                <p class="mt-4 f-22 f-bold">
                    No Result Found!
                </p>
                <p class="f-gray m-t-10 f-14">We couldn't find the item you were looking for. Please try again.</p>
            }
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:8%;">Sr. no.</th>
                    <th style="width:25%;">Name</th>
                    <th style="width:25%;">Category</th>
                    <th style="width:25%;">Subcategory</th>
                    <th style="width:12%;">Status</th>
                    <th style="width:12%;" class="text-center">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductList)
                {
                    <tr onclick="redirectToDetails('/product/details/@product.Id')">
                        <td>@product.Number</td>
                        <td>@product.Name</td>
                        <td>@product.CategoryName</td>
                        <td>@(product.FilterName?? "NA")</td>
                        <td>@product.PublishStatus</td>
                        <td class="text-center">
                            <span title="Edit" onclick="redirectToEdit('/product/edit/@product.Id')"><i class="fa fa-pencil f-16" aria-hidden="true"></i></span>
                            <span title="Remove" onclick="OpenDeleteConfirmBox('@product.Id')"><i class="fa fa-trash ml-3 f-16" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--Pagination-->
        <partial name="_pagination" model="Model.PagingData" />
    }
</div>
