@{
    string activetab = ViewData["ActiveTab"]?.ToString();
}
<div class="left_col menu_fixed">
    <div class="scroll-view">
        <div class="hamburger-menu">
            <input class="menu-btn" type="checkbox" id="menu-btn" checked />
            <label class="menu-icon" for="menu-btn">
                <span class="navicon"></span>
            </label>
        </div>
        <div class="logo-wrapper">
            <img src="~/images/app_oval_logo.png" class="img-responsive p-t-20 dashboard-logo" />
        </div>
        <div class="clearfix"></div>
        <div id="sidebar-menu" class="main_menu_side main_menu ">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li class="nav-item @(activetab == "order" ? "active" :"" )">
                        <a title="Orders" asp-controller="orders" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_orders.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Orders</span>
                        </a>
                    </li>
                    <li class="nav-item @(activetab == "product" ? "active" :"" )">
                        <a title="Products" asp-controller="product" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_products.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Products</span>
                        </a>
                    </li>
                    <li class="nav-item @(activetab == "customer" ? "active" :"" )">
                        <a title="Customers" asp-controller="customer" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_customers.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Customers</span>
                        </a>
                    </li>
                    <li class="nav-item @(activetab == "category" ? "active" :"" )">
                        <a title="Categories" asp-controller="category" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_main_category.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item @(activetab == "subcategory" ? "active" :"" )">
                        <a title="Subcategories" asp-controller="Subcategory" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_sub_category.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Subcategories</span>
                        </a>
                    </li>
                    <li class="nav-item @(activetab == "banner" ? "active" :"" )">
                        <a title="Banner Ads" asp-controller="bannerads" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_baner_ads.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Banner Ads</span>
                        </a>
                    </li>
                    <li class="nav-item @(activetab == "notification" ? "active" :"" )">
                        <a title="Notifications" asp-controller="notification" asp-action="index" data-toggle="tooltip" data-placement="right">
                            <img src="~/images/icons/ic_notification.png" class="ml-1 mr-3 vertical-middle hamburger-menu-icon" />
                            <span class="vertical-middle display-inline">Notifications</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="signOut-section" data-toggle="tooltip" data-placement="right" title="Logout">
            <span class="display-inline f-bold f-16 cursor-pointer" onclick="OpenLogoutConfirmBox()">
                <img src="~/images/icons/log-out.png" class="ml-1 mr-3" />
                <span class="display-inline vertical-middle hideMobile-txt">Logout</span>
            </span>
        </div>
    </div>
</div>
