@model KeralaMiniMart.Entities.WebViewModels.SubcategoryDetailsViewModel
@{
    ViewData["Title"] = "Subcategory Details";
    string stringHtml = "<a href=\"/subcategory\"><img src=\"/images/icons/arrow-left.png\" class=\"vertical-middle iconWidth-25 cursor-pointer m-r-20\"></a>";
    stringHtml = stringHtml + "<span class=\"display-inline\">Subategory Details</span>";

    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "subcategory";
    var message = TempData["Message"] ?? string.Empty;

}

<div class="row">
    <div class="col-7">
        <div class="detail-container">
            
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-8">
                    <p class="control-label float-label">Name</p>
                    <p>@Model.Name</p>

                    <p class="control-label float-label mt-4">Category Name</p>
                    <p>@Model.CategoryName</p>

                    <p class="control-label float-label mt-4">Created Date</p>
                    <p>@Model.CreatedDate</p>

                    @if (Model.ModifiedDate != null)
                    {
                        <p class="control-label float-label mt-4">Modified Date</p>
                        <p>@Model.ModifiedDate</p>
                    }
                </div>
                <div class="col-4">
                    <div class="pull-right">
                        <span class="display-inline m-r-25 f-bold cursor-pointer"><a class="f-black" asp-controller="subcategory" asp-action="edit" asp-route-id="@Model.Id"><img src="~/images/icons/edit.png" class="img-responsive action-icon" />Edit</a></span>
                        <span onclick="OpenDeleteConfirmBox('@Model.Id')" class="display-inline f-bold cursor-pointer"><img src="~/images/icons/trash.png" class="img-responsive action-icon" />Remove</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_deletePopup" />

@section Scripts {
    <script>
        var message = "@message";
        if (message) {
            ShowSlackbarSucessMessage(message);
        }

    </script>
}

